@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: rgb(37 99 235 / var(--tw-bg-opacity, 1));
  --secondary: rgb(147 197 253 / var(--tw-bg-opacity, 1));
  --light: rgb(209 213 219 / var(--tw-bg-opacity, 1));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Reusable tailwind css class for colors */
.text-primary {
  @apply text-[var(--primary)];
}
.text-secondary {
  @apply text-[var(--secondary)];
}
.text-light {
  @apply text-[var(--light)];
}
.text-dark {
  @apply text-[var(--background)];
}

/* Reusable tailwind css class */
.flex-cen {
  @apply flex items-center justify-center;
}
.flex-bt {
  @apply flex items-center justify-between;
}
.flex-ar {
  @apply flex items-center justify-around;
}

.style-parent {
  @apply min-h-screen p-10;
}

.style-footer {
  @apply text-base text-[var(--secondary)] text-center p-4;
}

.style-nav {
  @apply text-[var(--secondary)] hover:text-[var(--primary)] transition duration-300 focus:text-[var(--primary)];
}

.style-titles {
  @apply text-2xl font-semibold text-[var(--secondary)];
}

.style-labels {
  @apply block w-full text-base text-[var(--secondary)] mb-2;
}
.style-inputs {
  @apply block w-full text-base text-[var(--light)] rounded-lg outline-none p-3 border border-[var(--secondary)];
}
.style-btn {
  @apply bg-[var(--secondary)] text-[var(--background)] cursor-pointer py-3 px-6 rounded-lg text-base hover:bg-[var(--primary)] hover:text-[var(--light)] transition duration-300;
}
